input, label {
    font-family: verdana;
    font-size: 10pt;
}

#form_login {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -200px;
}

#border-top.h { background: url(../images/middle.png) repeat-x;}
#border-top.h div { background: url(../images/left_login.png)  no-repeat; background-position: top left}
#border-top.h div div { background: url(../images/right.png) no-repeat; height: 40px; background-position: top right}

#border {border: 1px solid; border-color: gainsboro; background-color: #E9F1F4;}
.body {margin-left: 10%;}

.button {
    background: url(../images/button-gray.png) repeat-x top center;
    border: 1px solid #999;
    padding: 5px;
    color: black;
    font-family: verdana;
    font-weight: bold;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width: 70px;
    cursor: pointer;
}

.button:hover {
    background: url(../images/button-blue.png) repeat-x top center;
}

.error {
    border: 1px solid;
    padding:15px;
    width: 80%;

    color: #000000;
    background-color: #FFBABA;
}